.input {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}

.input_valid {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  border-color: green;
  color: green;
  background: url(img/valid.png) no-repeat right 5px center;
  background-size: 10%;
}

.input_invalid {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  border-color: red;
  color: red;
  background: url(img/invalid.png) no-repeat right 5px center;
  background-size: 10%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 16px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transition: 0.4s;
  border: 1px solid red;
  border-radius: 5px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 15px;
  left: 2px;
  bottom: 2px;
  background-color: red;
  transition: 0.4s;
  border-radius: 5px;
}

input:checked + .slider {
  border: 1px solid green;
}

input:checked + .slider:before {
  transform: translateX(9px);
  background-color: green;
}

.inline {
  display: inline-block;
}

input[type="radio"] {
  border-color: green;
}

.radio {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  user-select: none;
  text-align: center;
}

.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;

  background-color: #fff;
  border-radius: 999px;
  border: 1px solid green;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 2.5px;
  left: 2px;
  width: 13px;
  height: 13px;
  border-radius: 999px;
  background: green;
}

.active {
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  background-color: green;
}

.hover1 {
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  background-color: darkgreen;
}

.danger {
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  background-color: rgb(250, 78, 78);
}

.hover2 {
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  background-color: rgb(163, 0, 0);
}

.disabled {
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  background-color: gray;
}

.plus {
  width: 35px;
  height: 35px;
  color: white;
  border: none;
  border-radius: 999px;
  font-weight: 600;
  background-color: green;
}

.minus {
  width: 35px;
  height: 35px;
  color: white;
  border: none;
  border-radius: 999px;
  font-weight: 600;
  background-color: red;
}

#textarea {
  border-radius: 5px;
  padding: 10px;
}
